<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>ByteCart</title>
  <style media="screen">
    .footer{
      position: fixed;
    }
  </style>
</head>

<body style="background-color:#f7f7f7;">
  {%if request.user.is_authenticated%}
    {% include "ecom/customer_navbar.html" %}
  {%else%}
    {% include "ecom/navbar.html" %}
  {%endif%}
  <br><br><br>
<h3 style="text-align:center; text-transform: capitalize; text-size-adjust: 10px;">This project developed by sudarshan date<br><hr>Computer hardware refers to the physical components that make up a computer system. These components include the central processing unit (CPU), memory (RAM), storage devices (hard drives, solid-state drives), motherboard, graphics processing unit (GPU), power supply unit (PSU), and various input/output devices such as keyboards, mice, monitors, and printers.

  The CPU is often considered the "brain" of the computer, responsible for executing instructions and performing calculations. RAM (Random Access Memory) is temporary memory that the CPU uses to store data that is actively being processed. Storage devices, like hard drives and SSDs, store data permanently even when the computer is turned off.
  
  The motherboard is the main circuit board that connects all the components together and allows them to communicate. The GPU is responsible for rendering graphics and images, crucial for tasks like gaming and video editing. The PSU provides power to all components within the computer.
  
  Computer hardware evolves rapidly, with advancements in processing power, storage capacity, and energy efficiency driving innovation. As technology progresses, hardware components become smaller, faster, and more reliable, enabling computers to perform increasingly complex tasks</h3>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  {% include "ecom/footer.html" %}
</body>

</html>
